@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html {
  overflow-y: scroll;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

nav {
  background-color: #3b3a3a;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60%;
  grid-template-columns: 20% 60%;
  -webkit-column-gap: 10%;
  column-gap: 5%;
  padding: 0% 5%;
  margin-bottom: 2%;
}

nav .array-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  place-content: center;
  padding: 5% 0%;
}

nav .array-inputs #array-size {
  padding: 5% 0%;
}

nav .array-inputs #array-speed {
  padding: 5% 0%;
}

nav .array-inputs #a_generate {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 4% 0% 0% 0%;
  padding-left: 10%;
}

nav .array-inputs #a_generate:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 105%;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* Prevent the navbar text from being highlighted */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: red;
  cursor: pointer;
}

.array-bar {
  width: 10px;
  display: inline-flex;
  margin: 0 1px;
  position: relative;
}

/* Hover effect before hover takes place. */
.array-bar:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
}

/* Hover */
.array-bar:hover:before {
  opacity: 1;
  visibility: visible;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
  grid-template-columns: 20% 60% 20%;
}

section #array-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 200%;
}

section #time-container {
  padding: 20% 10%;
}

section #time-container h3 {
  text-decoration: underline;
}

section #space-container {
  padding: 20% 10%;
}

section #space-container h3 {
  text-decoration: underline;
}

section #complexity-container {
  margin-top: 20%;
}

section .complexity-container .complexity-cases {
  margin-top: 20%;
}

section .complexity-container .complexity-cases p {
  display: inline;
}

section .complexity-container .complexity-cases p.sub-heading {
  font-size: medium;
  text-transform: none;
}

#summary-container {
  margin: 1% 10% 0 10%;
}

#summary-container h3 {
  text-decoration: underline;
  outline-width: 1;
  outline-color: #ccc;
  margin-bottom: 2%;
}

#summary-container p {
  font-size: medium;
  text-transform: none;
}
